<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="ball">
<!-- 
  <xacro:ball_mesh/> -->

  <!-- Define the ball mesh -->
  <xacro:macro name="ball_mesh">

    <!-- <joint name="ball_joint_origin" type="fixed">
      <origin rpy="0 0 0" xyz="0 0 2"/>
      <parent link="world"/>
      <child link="ball_link"/>
    </joint> -->

    <link name="ball_link">
      <origin xyz="0 0 1" rpy="0 0 0"/>
      <visual>
        <geometry>
          <sphere radius="0.1" />
        </geometry>
        <material name="ball_material">
          <color rgba="$1 0 0 1"/>
        </material>
      </visual>
      <collision>
        <geometry>
          <sphere radius="0.1" />
        </geometry>
      </collision>
    </link>
  </xacro:macro>
  
</robot>
